@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
/* Reset css star  */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/* Reset css end  */

/* Global Css start  */
.body {
  font-family: "Azeret Mono";
}

.btn {
  color: #fff;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  background: #0d1321;
  transition: all ease-in-out 0.3s;
  padding: 21px 24px;
}
.btn:hover {
  color: #0d1321;
  border: 1px solid #0d1321;
  background: #fff;
}

.btn-outline {
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 20px;
  font-weight: 600;
  padding: 17px 24px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #0d1321;
  opacity: 0.8;
  transition: all ease-in-out 0.3s;
}
.btn-outline:hover {
  background: #0d1321;
  opacity: 1;
  color: #fff;
}
.container {
  max-width: 1140px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.section-title {
  margin-bottom: 48px;
}
.section-title h2 {
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
}
.section-title p {
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  opacity: 0.7;
}
.mt-80 {
  margin-top: 80px;
}
section {
  width: 100%;
  display: block;
  float: left;
}
.btn-learn {
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: 1px solid #0d1321;
  opacity: 0.7;
  padding: 12px 20px;
  transition: all ease-in-out 0.3s;
}
.btn-learn:hover {
  background: #0d1321;
  color: white;
  opacity: 1;
}
/* Global css end  */

/* header css start  */
nav {
  padding: 48px 0px;
  background: #fff;
}

.nav a {
  color: #0d1321;
  font-family: "Azeret Mono";
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
/* header css end  */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Slider css start  */
.slider {
  background-image: url("/assets/img/Hero-bg.png");
  width: 100%;
  aspect-ratio: 2.2;
  float: left;
  display: block;
  padding: 32px 0;
  max-height: 652px;
}
.slider .content {
  width: 1140px;
  aspect-ratio: 2.2;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.slider .content img {
  width: 240px;
}
.slider .content .title {
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 68px; /* 141.667% */
}
.slider .content p {
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
/* Slider css end  */

/* Why Web Development css start  */
.why-wrap {
  padding: 80px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
}
.why-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.why-content .why-item {
  padding: 48px;
  border-radius: 16px;
  background: linear-gradient(270deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.why-content .why-item h4 {
  color: rgba(13, 19, 33, 0.7);
  font-family: "Azeret Mono";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
  width: 390px;
  margin-bottom: 16px;
}
.why-content .why-item p {
  color: #0d1321;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  opacity: 0.7;
}
.why-content .why-item .btn-learn {
  float: left;
  margin-top: 44px;
}

/* Why Web Development css end  */
